h1 {
    margin-bottom: 15px;
    font-size: 40px;
    color: rgb(0, 153, 153);
    text-align: left;
    text-decoration: bold;
}  

h2 {
    font-size: 30px;
    color: rgb(0, 153, 153);
    text-align: left; 
    padding-left: 10px;
    text-decoration: bold;
}

h4 {
    text-align: right;
    padding-right:20px;
    color:  #3182bd;
}

h5 {
    text-align: left;
    color: #3182bd;
    font-weight: bold;
    padding-left:20px;
}

/* Default font style and size of body */
body {
    background-color: whitesmoke;
    font-family: 'Times New Roman', Times, serif; 
    font-size: 17px;
}
.background-img {
    background-image: url("https://www.metoffice.gov.uk/binaries/content/gallery/metofficegovuk/hero-images/advice/industry/weather-forecast-background.jpg");
    background-repeat: repeat-x;
    background-position: center top;
}


.container {
    margin: 0;
}

/* Format of navigation bar */
.navbar {
    background-color:lightblue;
    margin-bottom: 5px;   
}

/* Footer format */
#footer {
    background-color:lightblue;
    margin-top: 20px;
    text-align: right;
    padding-bottom: 50px;
    padding: 5px; 
    height: 30px;

}

/* image inside summary: landing page */
img.align-left{
    float:left;
    margin-right:15px;
    width: 275px;
}

/* Description box format of 1st column (left side) of each plots page */
#summary, #temp_visual, #humid_visual, 
#cloudy_visual, #wind_visual {
    height:55%;
    width: 55%;
    border: solid 5px #3182bd;
    background-color:lightblue;
    text-align: left;
    padding: 10px;
    margin-left: 10px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.row {
    margin-top:0;
    margin-left: 40px;
}

/* Visualization summary format on temp, cloudiness,
humidity and wind speed pages: landing page */
#visuals {
    background-color:lightblue;
    border: solid 5px #3182bd;
    height: 45%;
    text-align: center;
    margin-right:5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* Alignment & Positioning of Visualizations */
.visual_left, .visual_right {
    width: 50%;
    /* padding: 5px; */
 }

 
/* Comparison page */
.carousel {
    background: lightblue;
    margin-left: 10px;
    margin-right: 10px;
    
}

/* Alignment and positioning of img in carousel */
.carousel-item img {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 90px;
    padding-left:90px;
    padding-right: 90px;
}











